.portfolio-content-wrapper {

    .hentry {
        margin-bottom: 0;
        width: 100%;

        .hentry-inner {
            overflow: hidden;
            position: relative;

            &:hover .post-thumbnail img {
         
                @include media(mobile_horizontal) {
                    transform: scale(1.1);
                    -o-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }
            }

            .post-thumbnail {
                margin-bottom: 0;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }


            @include media(desktop) {
                &:hover .entry-container {
                    opacity: 1;
                    transform: translateY(0);
                    -o-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -webkit-transform: translateY(0);
                }
            }
        }

        .entry-container {
            bottom: 0;
            font-size: 14px;
            font-size: 0.875rem;
            transform: translateY(0);
            -o-transform: translateY(0);
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            padding: 25px;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 9;

            &:before {
                background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
                content: "";
                opacity: 1;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                z-index: -2;
            }

            @include media(desktop) {
                opacity: 1;
                transform: translateY(110%);
                -o-transform: translateY(110%);
                -moz-transform: translateY(110%);
                -webkit-transform: translateY(110%);
            }

            .more-button {
                margin-top: 5px;
            }

            .entry-meta {
                margin-bottom: 15px;

                > span {
                    margin-right: 10px;
                }
            }
        }
    }
}   

#portfolio-content-section .wrapper {
    max-width: 100%;        
}

#portfolio-content-section {
    padding-bottom: 0;
    
    .view-more {
        margin-bottom: 35px;
        margin-top: 35px;
        text-align: center;

        @include media(desktop) {
            margin-bottom: 38px;
        }

        @include media(wide) {
            margin-bottom: 42px;
        }
    }
}
.section-content-wrapper.portfolio-content-wrapper {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.portfolio-content-wrapper .filter-button-group {
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 29px;
    max-width: 920px;
    text-align: center;
    justify-content: center;

    @include media(tablet) {
        margin-bottom: 39px;
    }

    .button {
        background: transparent;
        font-size: 13px;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.62;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 0;
        padding: 0;
        position: relative;
        text-transform: uppercase; 

        @include media(tablet) {
            margin-right: 25px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &:focus {
            box-shadow: none;
        }

        &:after {
            content: "";
            height: 2px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            transform: scale(0);
            -o-transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            top: 100%;
            width: 100%;
        }
    }
    
    button.is-checked,
    &:hover {
        text-shadow: 1px 0;

        &:after {
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}

.portfolio-content-wrapper.layout-one .hentry {
    width: 100%;
    margin-right: 0;
}