#colophon aside.footer-widget-area .wrapper {
    .widget-column {
        @include media(desktop) {
            padding-right: 80px;
        }
        .article-wrap {
            .hentry {
                margin-bottom: 10px;
                .entry-title {
                    font-size: 14px;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.sidebar .widget {
    .hentry {
        margin-bottom: 0;
    }
    .menu-social-menu-container ul {
        justify-content: flex-start;
    }
}

.widget-wrap {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.56;
    @include media(desktop) {
        font-size: 18px;
        font-size: 1.125rem;
    }
    span.post-date {
        display: block;
    }
}

.widget_recent_entries {
    li {
        border-bottom: 1px solid;
        margin-bottom: 42px;
        padding-bottom: 21px;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        a {
            font-size: 16px;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

.footer-widget-area.one .widget-column {
    margin-bottom: 20px;
}

.sidebar .catch-instagram-feed-gallery-widget-wrapper .button {
    border: 0;
}

.widget-wrap select {
    width: 100%;
    padding: 15px;
}

.widget_categories ul,
.widget_archive ul {
    margin: 0;
    text-align: right;
}

.widget-wrap ul {
    margin: 0;
}

.widget-wrap .cat-item,
.widget-wrap .ew-archives li,
.widget_archive li {
    display: block;
    overflow: hidden;
    list-style: none;
    margin-bottom: 5px;
    a {
        float: left;
    }
}

.sidebar .widget {
    margin-bottom: 35px;

    @include media(desktop) {
        margin-bottom: 42px;
    }

    @include media(large) {
        margin-bottom: 63px;
    }
    &:last-child {
        @include media(desktop) {
            margin-bottom: 0;
        }
    }
}

.ew-social-profile .social-links-menu {
    justify-content: flex-start;
}

.contact-details .contact-details--lists li {
    margin-bottom: 10px;

    @include media(desktop) {
        margin-bottom: 25px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    i {
        float: left;
        margin-right: 14px;
        @include media(desktop) {
            margin-right: 28px;
        }   
    }
    span {
        display: inherit;
        overflow: hidden;
    }
}

aside .social-links-menu {
    justify-content: flex-start;
    li {
        font-size: 20px;
        font-size: 1.25rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.widget li {
    list-style: none;
    margin-bottom: 10px;
}

.sidebar .essential-widgets .widget-wrap .ew-tabbed-recent-popular .ui-tabs-nav li {
    margin-bottom: -1px;
}

li.recentcomments a {
    text-decoration: underline;
}

.sidebar .menu-social-menu-container a {
    font-size: 24px;
    font-size: 1.5rem;
}

.sidebar .menu-social-menu-container {
    justify-content: flex-start;
}

.sidebar .ewnewsletter {
    .section-heading-wrapper {
        padding: 0;
    }
    .ew-newsletter-wrap {
        margin-top: 0;
        #subbutton {
            margin: 0px 0;
            width: 100%;
        }
    }
}

.widget-wrap .menu-item-has-children>li {
    margin-left: 20px;
}

.widget-wrap ul#menu-main-menu li {
    list-style: circle;
}

.widget-wrap .article-wrap {
    .entry-title {
        margin: 0;
    }
    .entry-meta {
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.footer-widget-area .widget-column {
    width: 100%;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .catch-instagram-feed-gallery-widget-image-wrapper ul li.item {
    margin: 0;
    width: 16.66%;
}

.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button {
    border: 0;
    margin-top: 21px;

    @include media(desktop) {
        margin-top: 35px;
    }
}

#footer-instagram .widget.catch-instagram-feed-gallery-widget {
    margin-bottom: 0;
}

.widget-area .essential-widgets .tagcloud a {
    border: 0;
}

.ew-tabbed-recent-popular>div {
    border: 0;
}

.widget.ew-tabbed-recent-popular {
    padding: 10px;
    @include media(wide) {
        padding: 30px;
    }
}

.sidebar .widget .entry-title {
    font-size: 16px;
    font-size: 1rem;
}

.sidebar .widget .children li {
    display: table;
    overflow: visible;
    width: 100%;
}

.widget_rss {
    .wiget_rss {
        margin-bottom: 10px;
    }
    .widget-title a {
        display: inline-block;
    }
}

.sidebar.widget-area section.widget ul {
    li {
        ul.sub-menu {
            background: transparent;
            margin-left: 10px;
            margin-top: 15px;
            li {
                margin-bottom: 15px;
            }
        }
    }
}

.footer-widget-area .essential-widgets.ew-newsletter {
    .section-heading-wrapper {
        padding: 0 25px 25px;
        .widget-title {
            margin-bottom: 0;
        }
    }
    .hentry {
        margin: 0;
        #subbutton {
            margin: 0;
            width: 100%;
        }
    }
}